/* ===============================
   Colour Palette:
   ---------------
   Light Cream:	#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
}

.container {
   width:1020px;
   margin:auto;

}


/* Typography */

h1, h2 {

}

h1 {

}

h1 em {

}

h2 {

}

h3 {

}

p.lead {

}

p {

}

a:link, a:visited {

}

a:hover {

}

hr {

}


/* Header */

header nav {

}

header nav ul {

}

header nav ul li {
   list-style-type: none;
   display:inline-block;
    margin-top:60px;
}

header nav ul li a {
   display:inline-block;
   text-decoration:none;
}

header nav ul li a:hover {
   display:inline-block;
   background-position:50% -15px;
   background-repeat:no-repeat;
   background-image:url(../images/tiny-donut.png);

}

header nav ul li#logo a {
   display:block;
   width:259px;
   height:141px;
   margin-top:15px;
   background-position:;
   background-image:url(../images/logo.png);
   background-repeat:no-repeat;
}

header nav ul li#logo a:hover {
   display:block;
   margin-top:15px;
   border:1px solid black;
   width:259px;
   height:141px;
   background-image:url(../images/logo-hover.png);
}


/* Hero */

#hero {

}

#hero .container {

}

#hero .large-ribbon {

}


/* The Whole Story */

#story-excerpt {

}

#best-donut {



/* News & Events */

#articles {

}

#feature-image {

}

#news-events article {

}

#news-events article.news {

}

#news-events article.event {

}

#news-events header time {

}

#news-events section.excerpt {

}

#news-events footer {

}


/* Footer */

footer.main {

}

footer.main a:hover {

}

#uncopyright, #credits {

}

#uncopyright {

}

#credits {

}


/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





